<p class="h3">Tetra, a clean MVC javascript framework</p>

<p class="description">Tetra aims to help developers build faster, more maintainable and better structured code, is a complete MVC framework, normalizing all implementations through a simple structure that splits the code into 3 different layers :
<p class="description">
View: DOM access and UX behaviors<br>
Controller: Programmatic logic<br>
Model: Structured data and Ajax requests
</p>
<p class="description">
Each layer has access to a communication pipe linked to a potential listener, allowing asynchronous communication between each part of the application.
Tetra is also Object-oriented, encouraging the developer to better separate and organise structured data and its associated logic.<br>
An ORM encapsulates Ajax transactions and ensures data consistency between front-end and back-end.
Additionally, bootnode feature allows JavaScript resources to be loaded dynamically, either through data attributes set on DOM nodes or via a dependency management system.
</p>