<p class="h3">Interface</p>

<pre>
tetra.view.register(name, Object)
</pre>

<p class="description">
name: The name of the view that is coupled to module filename. It must be the same as js file name. 
For example: if you call your view likeButton, included file will be named “likeButton.ui.js”.

Object: This object describes view module listeners and notifiers as well as DOM handlers. 
A more detailed definition follows.
</p>

<span class="subtitle">Description</span>

<pre>
{  
   scope : 'scope name',  
   use : ['controller name', ...],  
   root : 'containerId',  
   constr : function   
}
</pre>

<span class="subtitle">Parameters</span>

<p class="description">
scope: it’s the visibility scope of message sent by the view to controller. Actually this is the application scope and it must be the application name. Example: for the “like” feature, the scope could be “likeApp”.<br>
use: the list of controllers required by the view to work properly. This list is mandatory when the view is loaded using the bootstrap feature (see below).<br> 
root:(optional) id of a root element for the view. It will limit selectors matching to this container.<br>
constr: is a function returning view’s behaviors
</p>

<span class="subtitle">Contructor</span>

<pre>
constr : function(me, app, _) { 
	return {  
     	events : {...},  
     	methods : {...}  
	};
}
</pre>

<p class="description">
me: this variable give you access to all data of the view object generated : scope, events, methods and all other attributes you can attach to.<br>
app: the communication pipe to all controllers in the scope.<br>
_ : abstracted javascript library based on <a href="http://api.jquery.com" target="_blank">jQuery</a> structure with following available functions.
</p>

<span class="subtitle">Events</span>

<pre>
events : {  
   user : {  
       'event name' : {  
            'selector' : function(event, element){...},  
            ...  
        },  
        ...  
   },  
   window : {  
        'event name' : function(event){...},  
         ...  
   },  
   controller : {  
        'message' : function(data){...},  
        ...  
   }  
}
</pre>

<p class="description">
events: description of callbacks executed as a consequence of controller or user demand :

user: list of events listened on the page. For each event (click, mouseover, …), we specify a list of selectors (CSS2.1 syntax) that must be reactive to this action and the function called on action. This function has access to the native event and the matched DOM element in context. e.preventDefault() is automatically call when an event match with one of the callback (except for checkbox/radio input element and keydown event). If you want to disable this behavior, add a “no-prevent” class on your element.
</p>

Special event management:<br>

<p class="description">
mouseover/mouseout: these events are cleaned. That means they work as mouseenter and mouseleave and then an element don’t catch event from its children.<br>
clickout: you can define a clickout listener for a specific selector. This callback function will be called when the user click outside a any element matching this selector. This listener only works if a click listener with the same selector is defined in the same view.
</p>

<p class="description">
window: list of window events listened on the page. A callback function is associated to each event you want to listen.<br>
controller: list of messages sent by controllers listened in the view with the function that must executed at the reception. Datas given by controller are accessible.
</p>

<span class="subtitle">Methods</span>

<pre>
methods : {  
    init : function(){...},  
    MyMethod : function(param){...},  
    ...
}
</pre>

<p class="description">
init: is a reserved method executed when the view is registered. It can be used to define some variables accessible in the view. For example to define a DOM access, you can define a variable as an attribute attached to me : me.target = document.getElementById('targetId');<br>
Methods are common functions used locally in the view. They can be called using the me keyword. For example : me.methods.customMethod(data); to call the function customMethod.
</p>

Sampe code ...
