                <div class="sidebar">
                    <span class="h2 dispb tar prl ptm">
                        <a href="{{path}}/doc/templates/about.html">About</a>
                    </span>
                    <span class="nav-section-title h3 tar prl ptl">
                        Getting-Started
                    </span>
                    <ul class="nav-stacked">
                        <li>
                            <a>View</a>
                        </li>
                        <li class="active">
                            <a>Controller</a>
                        <li>
                            <a>Model</a>
                        </li>
                        <li>
                            <a>ORM</a>
                        </li>
                        <li>
                            <a>Templating</a>
                        </li>
                        <li>
                            <a>Bootnode</a>
                        </li>
                        <li>
                            <a>Debugger</a>
                        </li>
                    </ul>
                </div>