<form action="/oauth" method="POST">
<h2>Sign in</h2>
<ul>
    <li>
        <label for="user_email">email</label>
        <input id="user_email" name="user_email" type="email" value="">
    </li>
    <li>
        <label for="user_pwd">password</label>
        <input id="user_pwd" name="user_pwd" type="password" value="">
    </li>
    <li>
        <button type="submit">Connect</button>
    </li>
</ul>
</form>
